h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Merriweather-Light',Georgia,serif;
}

.wrapper {
    padding: 5px;
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.header-test {
    width: inherit;
    padding: 5px;
}

.question {
    overflow: auto;
    text-align: justify;
    vertical-align: middle;
    min-height: 50px;
    color: darkblue;
    padding: 10px;
    font-size: 19px;
    font-family: 'Merriweather-Light',Georgia,serif;
}

button.accordion {
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 19px;
    font-family: 'Merriweather-Light',Georgia,serif;
    border: none;
    outline: none;
    background: none;
    transition: 0.5s;
    display: block;
}

button.accordion.hint {
    text-align: center;
    color: grey;
    font-size: 15px;
}

button.accordion.hint:hover {
    background-color: lightyellow;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background-color: lightblue;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    background-color: lightyellow;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
    width: 100%;
    overflow: visible;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    display:inline-block;
    font-size: 19px;
    vertical-align:middle;
    cursor:pointer;
    padding: 10px;
    width: 100%;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-color: lightblue;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

.status {
    position: relative;
    text-align: center;
    padding-top: 3px;
    color: antiquewhite;
}

.status-bar {
    padding-bottom: 5px;
}